/* styles.css */

/* Navbar styles */
nav {
    
    padding: 7px 10px; 
    position: fixed;
    
    top: 0;
    left: 50%;
    transform: translateX(-30%);
    width: 100%;
    background-color: #333; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #c6c6e6;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
  }
li {
    display: inline;
    margin-right: 85px;
    font-weight: bold, 500;
    font-size: 17px;
    font-style: italic;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #555;
}

/* Component styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"],
button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.chart-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .chart {
    width: 100%;
  }
  form h1{
    background-color: #323274;
    position:relative;
    padding: 1rem;
    border-radius:1rem;
    font-size: small;
    width: 65%;
    text-align: center;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

